body {
  font-family: Raleway;
  color: #fff;
  height: 100px;
  background:grey;
  background-size: cover;
}

main {
  
  width: 90%;
  height: 75px;
  margin: 0;
  padding: 2em 0;
  margin-top: 0;
}

a {
  font-weight: bold;
  color: #40508F;
  transition: color .3s;
}

a:hover {
  color: #333545;
}

#modal-trigger {
  width: 175px;
  padding: 10px 15px;
  border-radius: 18px;
  background-color: #0496A4;
 
  
  text-decoration: none;
  color: white;
  font-weight: 300;
}

#modal {
 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s, visibility .2s;
}

#modal.is-visible {
  opacity: 1;
  visibility: visible;
}

#modal .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 90%;
  max-width: 400px;
  padding: 2em;
  background-color: #ADF5FF;
  color: #333;
}

#modal h2 {
  margin-top: 0;
}

#modal p {
  line-height: 1.3;
}

#modal button {
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  color: #FFF;
  background-color: #40508F;
  padding: .5em .8em;
  font-size: 14px;
  font-weight: bold;
  transition: background .3s;
}

#modal button:hover {
  background-color: #333545;
}

.container{
    
	width: 40%;
	height: 400px;
  margin: auto;
	
}
#form, #input {
	width: 80%;
	margin: 0 auto
}
#form, #input{
	padding: 4px 0 6px 0;
	color: #555;
	font-size: 
}
.text-center{
 
  
  font-family:fantasy;
  padding-left: 50px;
  color:darkblue;
}
li{
  cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #0496A4;
    font-size: 28px;
    transition: 0.2s;
    margin-top: 10px;
    font-family: 'Indie Flower', cursive;
    list-style-type: none;

}

ul li.checked {
	background: #888;
	color: #fff;
	text-decoration: line-through;
